body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.base-container{
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Navigation */

.navigation-menu{
    /* background-color: blue; */
    height: 100vh;
    width: 15%;

}

/* Navigation */


/* Main Container */

.main-container{

    display: flex;
    /* background-color: brown; */
    height: 100vh;
    width: 85%;
    overflow-y:scroll;

}

.post-area{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 100vh;
    

}
.suggest-area{
    background-color: blueviolet;
    width: 40%;
    height: 100vh;

}

/* Post Area */

.story-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
    /* background-color:brown; */
    width: 620px;
    height: 100px;

}

.post{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: chocolate; */
    margin-top: 10px;
    width: 480px;
    height: 780px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.342);
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
    height: 80px;
    width: 65px;
    margin: 5px;
    
}
.s-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 75px;
    
    /* background-color: blue; */
    

}
.s-profile{
    border-radius: 100%;
    width: 55px;
    height: 55px;
    border: 1px solid transparent;
    background: linear-gradient(45deg, blue, transparent), radial-gradient(red, transparent);;
}
.s-name{
    font-size: 12px;
    text-align: center;
    width: 90%;
    height: 20%;
    /* background-color: blueviolet; */

}

.post-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    

}
.p-t-left{
    display: flex;
    align-items: center;
    margin-left: 8px;
    /* background-color: blueviolet; */
}
.p-t-right{
    margin-right: 8px;
}
.profile{
    
}
.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0px 8px;
    

}
.profile-name{
    font-size: 14px;

}
.dots{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.171);
}

.post-bottom{
    width: 100%;
    height: 200px;
    /* background-color: blueviolet; */
}
.post-middle{
    width: 100%;
    height: 500px;
    background-color: bisque ;

}
.post-middle img{
    width: 100%;
    height: 100%;
}
.post-middle iframe{
    width: 100%;
    height: 100%;
}
/* Post_bottom */

.post-icons{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px;
    height: 50px;
    
}
.post-info{
    height: 50px;
    width: 100%;
    padding: 2px 5px;
}
.post-comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 2px 5px;
}
.comments-post{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 35px;
    
}
.post-btn{
    font-size: 12px;
    color: #0f9fd8;
    font-weight: bold;
}
.comment-in{
    outline-style: none;
    border: none;
    width: 80%;
    
}
.icons-left,.fa-solid{
    margin-right: 5px;
}

/* Navigation-bar */

.navigation-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(128, 128, 128, 0.26);
    
}
.nav-top{
    margin-top: 40px;
}
.logo {
    padding: 8px 12px;
    /* background-color: antiquewhite; */
}
.logo img {
    width: 120px;
    height: 60px;
}

.nav-items{
    display: flex;
    /* background-color: blanchedalmond; */
    align-items: center;
    margin: 10px;
    height: 50px;
}
.nav-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    /* background-color: blueviolet; */
}
.nav-icons i{ 
    font-size: 25px;
    margin: 5px;
}
.nav-title{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    font-weight: 600;
}

/* Main Container */