body{
    margin: 0;
    padding: 0;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-content{
    display: flex;
    justify-content: right;
    align-items: center;    
    width: 100%;
    height: 10%;
    
}

.a-p img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.a{
    margin: 10px;
}

.middle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
}

.search-box{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin-top: 10px;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 50px;
    height: 30px;
    width: 55%;
}

input{
    width: 80%;
    outline-style: none;
    border: none;
}

.search-box img{
    height: 20px;
}

.buttons{
    display: flex;
    margin-top: 10px;
}

.b{
    margin: 10px;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0.027);
    color: rgba(0, 0, 0, 0.815);
    border: 1px solid transparent;
    border-radius: 4px;    
}

.b:hover{
    border: 1px solid rgba(0, 0, 0, 0.219);
}

.lang-box{
    margin-top: 10px;
    display: flex;
}

.lan{
    margin: 5px;
}

.bottom-content{
    background-color: #eee;
    color: #1b1b1b91;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.bottom-up{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.bottom-down{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.bottom-down-left{
    display: flex;
    align-items: center;
}

.bottom-down-right{
    display: flex;
    align-items: center;
}

.d {
    margin: 8px;
}